h1{
    color: green;
    text-align: center;
    margin-top: 10%;
}
.tllogo {
    display: block;
    margin-left: auto;
    margin-right: 100%;
    margin-top: -10%;
    max-width: 15%;
    max-height: 15%;
    padding-top: 10%;
}

body{
    background-repeat: no-repeat;
    background-size: auto;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #B11F29;
  color: white;
  text-align: center;
  padding-bottom: 15%;
}

.disclaimer-text {
    font-family: "Lora",'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 12px;
}

.contact-info {
    font-family: "Lora",'Courier New', Courier, monospace;
}

.specials-container {
    display: inline-block;
    width: 400px;
    height: 200px;
    border-style: solid;
    background-color: mintcream;
    border-radius: 30px;
    opacity: .30;
}

.specials-list {
    margin: 0 auto;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
}