h1{
    color: #B11F29;
    text-align: center;
    font-family: Permanent Marker;
    margin-top: 10%;
    font-size: 80px;
}
.tllogo {
    margin-left: auto;
    margin-right: 100%;
    margin-top: -10%;
}

html, body {
    min-height: 100vh;
}

.page-container {
    height: 100vh;
    width: 100%;
}

.content-container {
    background: url("./taco3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #B11F29;
  color: white;
  text-align: center;
}

.disclaimer-text {
    font-family: "Lora",'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 14px;
}

.contact-info {
    font-family: "Lora",'Courier New', Courier, monospace;
}

.specials-container {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    margin-top: 30px;
    border-style: solid;
    background-color: mintcream;
    border-radius: 30px;
    opacity: .50;
}

.specials-list {
    margin: 0 auto;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
}